@import "tailwindcss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   background-color: #131313;
   color: #e5e2e1;
   font-family: 'Manrope', sans-serif;
}
.title{
    text-align:center;
    margin-top: 10rem;
    font-weight: 900;
    font-size: 65px;    
}

.title span{
    color: red;
    font-style: italic;
    font-size: 50px;
    text-shadow: 0px 3px 15px rgb(216, 37, 37);
}


.container{
    font-family: 16px;
    width: 200vw;
    /* height: 45vh; */
    max-width: 37.5em;
    padding: 3em 1.8em;
    background-color: #F2F0EF;
    border: none;
    border-radius: 1.8em;
    box-shadow: 1rem 2rem 2rem rgba(227, 220, 220, 0.2);
    position: relative;
    transform: translate(-50%,50%);
    top: 50%;
    left: 50%;
}

.container:hover{
    box-shadow: 1rem 2rem 2rem rgba(227, 220, 220, 0.4);
    transition: all 0.3s ease-in-out;
    
}



.search-container{
    display: grid;
    grid-template-columns: 1fr auto;
    width: 80%;
    height: 2.55em;
    border-radius: 10rem;   
}

.search-container input{
    padding: 0.5em;
    font-size: 1.2em;
    border: none;
    border-radius: 3rem;
    outline: none;
}

.search-container input:focus{
    outline: none;
    border: 1px solid black;
    font-style: Manrope;
}

.button{
    font-size: 2rem;
    outline: none;
    border-radius: 10rem;
    border: none;
    font-weight: 900;
    padding: 0.5em;
    
}

#search-btn{
    color: #F2F0EF;
    background-color: red;
    cursor: pointer;
    width: 5.7em;
    height: 3.0em;
    position: absolute;
    transform: translate(600%, -100%);
    border-radius: 10rem;
}

#sesearch-btn input:focus{
    outline: none;
    border: 1px solid black;   
}

#search-btn:hover{
    background-color: blue;
    color: whitesmoke;
    box-shadow: #131313 0px 3px 15px;
}

#result{
    position: relative;
    display:grid;
    grid-template-columns: 4fr 10fr;
    margin-top: 1.2rem;
}    

.info{
    position:relative;
    display: grid;
    grid-template-columns: 4fr 10fr;
    margin-top: 1.2rem;


}
.poster{
    width:100%;
    box-shadow: 11px 20px 20px  rgba(0,0,0,0.2);

}
h2{
    text-align: center;
    font-size: 1.5em;
    font-weight: 900;
    letter-spacing: 0.1em;
    text-shadow: 1px 0px black;
}
.rating{
    display: flex;
    align-items:center;
    justify-content: center;
    gap:.2em;
    margin:0.7em 0em 2rem 0;
    
}
.rating img{
    width:1.2em;
}
h4{
    font-size: 1.2em;
    font-weight: 500;

}
.details{
    display: flex;
    justify-content: space-around;
    color:rgb(63, 60, 60);
    font-weight: 600;
    margin-top:2rem;
}
.genre{
    display: flex;
    justify-content: space-around;
    color:rgb(8, 13, 105); 
    font-weight: 900;
    margin-top:2rem;
}
.genre div{
    display: flex;
    justify-content: space-around;
    gap: 0.5em;
}
h3{
    margin-left: 1rem;
    font-size: 1.2em;
    font-weight: 900;
}
p{
    margin-left:1.1rem;
    margin-bottom: 1rem;
}
::-webkit-scrollbar {
    display:none;
}
@media screen and (max-width:600px){
    .container{
        font-size:14px;
    }
    .poster{
        margin:auto;
        width:auto;
        max-height:10.8em;
    }
    .info{
        grid-template-columns: 1fr;
    }
}